header {
	border-bottom: #e6e6e6 solid 10px;
	margin-top: 0px;
    margin-bottom: 15px;
}

#banner {
	margin-top: 0px;
    margin-bottom: 0px;
}

.contact_info {
	height: 400px;
	width: 85%;
	position: relative;
	left: 7.5%;
	background-color: #e6e6e6;
	margin-top: 0px;
	margin-bottom:0px;
	padding-top: 50px;
}

.contact_lkd {
	float: left;
	list-style: none;
	margin-left: 10%;
}

.contact_fb {
	float: left;
	list-style: none;
	margin-left: 10%;
}

.contact_yt {
	float: left;
	list-style: none;
	margin-left: 10%;
}

.contact_name {
	padding-left: 10%;
}

li {
		padding-bottom: 30px;
}