body {
	background: black;
	color: white;
}

h1 {
	font-family: Helvetica ;
	font-size: 50px;
	text-align: center;
}

#nav {
	margin-left: 100px;
	background-color:white;
}
#nav li{
	display: block;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 30px;
	

}
a:link {
	background-color: gray;
	padding: 10px;
	text-decoration: none;
}

