body {
	background: black;
	color: white;
}

h1 {
	font-family: Helvetica ;
	font-size: 60px;
	text-align: center;
	margin-top:50px;
}

.people {
	padding-top:50px;
	font-size:30px;
}

table {
	margin:0 auto;
}